# Application config

APP_PORT=5007
APP_DOMAIN=0.0.0.0
NODE_ENV=development
DOMAIN_WHITE_LIST=http://localhost:5007,http://0.0.0.0:5007,http://localhost:3000

#Docs
SWAGGER_PORT=5007
SWAGGER_DOMAIN=0.0.0.0

# DB config

MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_USERNAME=root
MYSQL_PASSWORD=*****
MYSQL_DATABASE=certifily

#ORM config
LOG_QUERY=true

# Auth
USER_AUTH_ISSUER=******
USER_AUTH_ISSUER=
USER_AUTH_AUDIENCE=
USER_AUTH_VALIDITY=2700
USER_AUTH_REFRESH_SECRET=*******
USER_AUTH_REFRESH_VALIDITY=2592000

# EMAIL CONFIG
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER_NAME=
EMAIL_PASSWORD=

# FLOW
FLOW_WALLET_DISCOVERY=https://fcl-discovery.onflow.org/testnet/authn
FLOW_ACCESS_NODE=https://rest-testnet.onflow.org
FLOW_ADMIN_ADDRESS=
FLOW_CONTRACT_ADDRESS=

# FLOW AUTH
ADMIN_AUTH_KEY=
CLIENT_AUTH_KEY=
CLIENT_PUBLIC_KEY=