# Application config

APP_PORT=5007
APP_DOMAIN=0.0.0.0
NODE_ENV=development
DOMAIN_WHITE_LIST=http://localhost:5007,http://0.0.0.0:5007,http://localhost:3000

# DB config

MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_USERNAME=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=certifyly

#ORM config
LOG_QUERY=true
